* {
    margin: 0;
    padding: 0;
}

.box {
    height: 50px;
    width: 50px;
    background-color: beige;
    border: 2px solid black;
    transform: rotate(0.125turn);
    transform-origin: -50% -50%;
    /* transform: rotateZ(9deg); */
    /* transform: skewY(34deg); */
    /* transform: translateY(100%) skewX(40deg) translateX(45%); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 55px;
    width: 100vw;
    height: 80vh;
    border: 2px solid purple;
}