.wrap {
    margin: 30px auto;
    max-width: 1000px;
    width: 90vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-family: sans-serif;
  }
  
  
  .box {
    width: calc(20%);
    margin: 20px 20px;
    background: #ddd;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    line-height: 130px;
  }
  
  
  .blue {
    background-color: rgba(56, 207, 248, 0.5);
  }
  
  
  .scaleX {
    transform: scaleX(1);
    transition: transform 0.5s ease;
  }
  
  